#play-container {
	width: 1280px;
	height: 1020px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

#keysink {
	height: 1px;
	width:  1px;
	position: absolute;
	left: 0px;
	top: 0px;
	
}

body.game {
	overflow: hidden;
	  width: 100%;
  height: 100%;
}


#tutbody .logo {
	height:	600px;
	width: 600px;
}

#tutbody {
	background-color: #141728;
	width: 100%;
	text-align: center;
}

#tutbody .tut {
	width: 30%;
	vertical-align: top;
}

#tutbody .start {
	position: relative;
	left: -418px;
	top:	460px;
	width: 239px;
	height: 87px;
	vertical-align: top;
}
